# Re-frame and clojurescript specific

/*.log
/target
/*-init.clj
/resources/public/js/compiled
out
node_modules
figwheel_server.log

# IntelliJ
.idea
*.iml

# VSCode
.vscode

# OSX
.DS_Store

# Gocomment application specific
comments.db